body{
	background-image: url(../images/body.jpg);
	background-attachment: fixed;
	width:100%;
	margin: 0 auto;
}

#wrapper {
	width: 900px;
	margin: 125px auto;
	background-color: rgba(191, 62, 0, .6);
	height: 2200px;
}
 
#wrapper h1 {
	font-family: baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 50px;
	color: #003F7C;
	text-align: center;
}

.left {
	float: left;
	width:300px;
	padding:20px;
	clear:left;
}

.left h3 {
	font-family: baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 30px;
	color: #003F7C;
	text-align: center;
}

.left img {
	width: 100%;
	border-radius: 24px;
}


.season1 {
	position: absolute;
	left: 210px;
	top: 290px;
	right:495px;
	color: white;
	font-family: baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 40px;
	text-align: center;
	background-color: black;
	width: 300px;
	height: 130px;
	opacity: 0;	
	transition:3s;
	border-radius: 24px;
}

.season1:hover{
	opacity:1;
}

.right {
	float: right;
	width:300px;
	padding:20px;
	clear:right;
}

.right h3 {
	font-family: baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 30px;
	color: #003F7C;
	text-align: center;
}

.right img {
	width: 100%;
	border-radius: 24px;
}

.season2 {
	position: absolute;
	left: 770px;
	top: 290px;
	/*right:495px;*/
	color: white;
	font-family: baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 40px;
	text-align: center;
	background-color: black;
	width: 300px;
	height: 130px;
	opacity: 0;	
	transition:3s;
	border-radius: 18px;
}

.season2:hover{
	opacity:1;
}


.season3 {
	position: absolute;
	left: 210px;
	top: 670px;
	color: white;
	font-family: baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 40px;
	text-align: center;
	background-color: black;
	width: 300px;
	height: 130px;
	opacity: 0;	
	transition:3s;
	border-radius: 24px;
}

.season3:hover {
	opacity: 1;
}

.season4 {
	position: absolute;
	left: 770px;
	top: 670px;
	color: white;
	font-family: baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 40px;
	text-align: center;
	background-color: black;
	width: 300px;
	height: 130px;
	opacity: 0;	
	transition:3s;
	border-radius: 24px;
}

.season4:hover {
	opacity: 1;
}

.season5 {
	position: absolute;
	left: 210px;
	top: 1020px;
	color: white;
	font-family: baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 40px;
	text-align: center;
	background-color: black;
	width: 300px;
	height: 130px;
	opacity: 0;	
	transition:3s;
	border-radius: 24px;
}

.season5:hover {
	opacity: 1;
}

.season6 {
	position: absolute;
	left: 770px;
	top: 1070px;
	color: white;
	font-family: baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 40px;
	text-align: center;
	background-color: black;
	width: 300px;
	height: 130px;
	opacity: 0;	
	transition:3s;
	border-radius: 24px;
}

.season6:hover {
	opacity: 1;
}

.season7 {
	position: absolute;
	left: 210px;
	top: 1400px;
	color: white;
	font-family: baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 40px;
	text-align: center;
	background-color: black;
	width: 300px;
	height: 130px;
	opacity: 0;	
	transition:3s;
	border-radius: 24px;
}

.season7:hover {
	opacity: 1;
}

.season8 {
	position: absolute;
	left: 770px;
	top: 1460px;
	color: white;
	font-family: baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 40px;
	text-align: center;
	background-color: black;
	width: 300px;
	height: 130px;
	opacity: 0;	
	transition:3s;
	border-radius: 24px;
}

.season8:hover {
	opacity: 1;
}

.buttonnav2 {
	font-family: baskerville,'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	height: 45px;
	width: 250px;
	margin: 10px 20px 0px 20px;
	display: inline-block;
	text-decoration: none;
	color: #DE480D;
	background-color: #11588F;
	border-radius: 5px;
	padding: 10px;
	font-size: 35px;
	background-color: #11588F;
	cursor: pointer;
	transition: 0.5s;
	position: absolute;
	top:1630px;
	left:400px;
}

.buttonnav2:after {
	content: ' Please!?! ';
	opacity: 0;
	font-style: italic;
	right: -20px;
	transition: 0.5s;
	color: #F4C539;
}

.buttonnav2:hover {
	padding-right: 30px;
	color: #F4C539;
}

.buttonnav2:hover:after {
	opacity: 1;
	right: 0;
}

.tickets {
	position: absolute;
	top: 1720px;
	left: 350px;
	width: 600px;
} 

.tickets p {
	text-align: center;
	font-family: baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 24px;
	color: #003F7C;
}

.gold-logo {
	width:20%;
	float: left;
	opacity:.8;
}

footer {
	position: absolute;
	bottom: -1800px;
	left:0px;
	text-align: center; 
	height: 200px;
	width: 100%;
	background-color: black;

}

footer ul {
	float: left;
	position: relative;
	left: 85px;
}

footer li {
	list-style-type: none;
	display: inline;
	font-size: 24px;
	padding: 20px;
	color: white;
}

footer li a {
	color:white;
	text-decoration: none;
	transition: 2s;
} 

footer li a:hover {
	color: #DE480D;
}

.franklin {
	float: right;
	width:134px;
	opacity:.8;
}





