#wrapper {
	background-image: url("../images/Landing.jpg");
	width: 100%;
	min-height: 685px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
	background-attachment: fixed;
}

body {
	margin:0 auto;
}

h1 {
	text-align: center;
	position: absolute;
	top: 100px;
	left:427px;
	font-size: 60px;
	font-family: Papyrus, fantasy;
	color: #1C0F1B;
}
